@font-face {
  font-family: 'Magistral';
  src: url('../fonts/Magistral-Light.ttf');
}

body, html {
  height: 100%; 
  margin: 0; 
  display: flex; 
  align-items: center;
  justify-content: left;
  margin-left: 4%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 400px;
  padding: 7px 10px 30px 17px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  transition: background-color 0.5s ease;
}

.container:hover {
  background-color: #ddd;
}

input[type=text], input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-size: 1rem;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

h1 {
  text-align: center;
  font-family: 'Magistral';
  font-size: 2.1rem;
}

input[type="submit"] {
  background-color: blue; /* valor anterior: #4CAF50 (verde) */
  color: white;
  padding: 14px 20px;
  margin: 0px 0px 12px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
  cursor: pointer;
  width: 97.5%;
  font-size: 1.3rem;
  font-family: 'Magistral';
}

.error {
  color: red;
  font-size: 0.9rem;
}

.escondido {
  display: none;
}

.psw {
  font-size: 0.97rem;
}