/* styles.css */
* {box-sizing: border-box;}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 0.3rem;
}

#registro-form {
  width: 25%;
  display: inline-block;;  
}

#registro-form label {
  font-weight: bold;
}

#registro-form input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

#registro-form input[type="email"],
#registro-form input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

input[type="submit"] {
  background-color: #007BFF;
  color: white;
  padding: 14px 20px;
  margin: 1px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

#registro-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;  
}

#registro-form input[type="submit"]:hover {
  background-color: #0056b3;
}

button:hover {
  opacity:1;
}

.container {
  padding: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.login {
  font-size: 95%;
  padding-top: 14px;
}