/* Right Content */

.right-content{
  display: flex;
  justify-content: center;
}

.right-content .anilox-upload{
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  width: fit-content;
  height: fit-content;
  margin-top: 6vh;
}

.right-content .anilox-upload:hover{
  box-shadow: none;
}

.right-content .files-upload{
  position: relative;
  display: flex;
  align-items: center;
  top: 0%;
  flex-direction: column;
}

.right-content .files-upload .form{
  display: flex;
  flex-direction:row;
  width: 100%;
  justify-content: space-around;
}

/* CSV & Image Upload */

.right-content .files-upload .csv{
  flex: 0 0 auto;
  margin-right: 0.5rem;
}

.right-content .files-upload .image{
  flex: 0 0 auto;
  margin-left: 0.5rem;
}

.right-content .files-upload .csv .form-input{
  height: auto;
  margin-top: 2rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.right-content .files-upload .csv .form-input p{
  display: inline-block;
  height: auto;
  width: 16rem;
  text-align: right;
  margin-right: 1rem;
  color: var(--color-dark);
  font-weight: 500;
  font-size: 18px;
}

.right-content .files-upload .csv .form-input input{
  height: auto;
  width: 10.5rem;
  border: thin solid var(--color-primary);
  padding: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  background: var(--color-info-light);
}

.right-content .files-upload .csv .form-input #import-brand{
  background: var(--color-background);
}

.right-content .files-upload .upload-inputs{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.right-content .files-upload .upload-inputs .upload-csv{
  flex: 0 0 auto;
  margin-left: -3rem;
}

.right-content .files-upload .upload-inputs .upload-image{
  flex: 0 0 auto;
  margin-right: 3rem;
}

.right-content .files-upload .upload-inputs label{
  display: flex;
  background: var(--color-primary);
  color: var(--color-info-light);
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  height: 3rem;
  width: auto;
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.right-content .files-upload img{
  height: 480px;
  width: 640px;
  margin-top: 3rem;
}

.right-content .files-upload #submit{
  display: flex;
  background: var(--color-primary);
  color: var(--color-info-light);
  align-items: center;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  height: 3rem;
  width: auto;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

/* Modal New Anilox & Recorrido*/

.modal .modal-body span{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal .modal-body p{
  color: var(--color-dark);
  margin: 0.5rem 1rem;
}

.modal .modal-body #new-brand, #new-purchase, #new-nomvol, #extra-recorrido{
  color: var(--color-dark);
  font-size: 18px;
  font-family: inherit;
  padding: 0.5rem;
  border: thin solid var(--color-primary);
  margin-bottom: 1rem;
}

.modal .modal-body #new-master{
  font-family: inherit;
  padding-top: 0.7rem;
}

.modal .modal-body .sub-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem;
}

.modal .modal-body #new-submit, #extra-skip, #extra-submit{
  background: var(--color-primary);
  color: var(--color-info-light);
  font-size: 18px;
  font-family: inherit;
  height: 3rem;
  width: auto;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
}