/* Common */

.right-content{
  display: flex;
  flex-direction: row;
}

.right-content > div{
  padding-right: 1.5rem;
  flex: 0 0 11rem;
  display: none;
  flex-direction: column;
  align-items: center;
}

.right-content > div:last-child{
  padding-right: 0;
  flex: 1 0 auto;
}

.right-content > div h3{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.right-content .title{
  display: flex;
  justify-content: center;
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  width: max-content;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}

.right-content .title:hover{
  box-shadow: none;
}

/* lista clientes, lista anilox y lista reportes */

.right-content > div .table{
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: 1rem 0rem 1rem 0rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.right-content > div .table:hover{
  box-shadow: none;
}

.right-content > div table{
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.right-content > div table tbody, tr, td{
  display: block;
}

.right-content > div table tbody{
  height: 80vh;
  overflow-y: auto;
}

.right-content > div table tbody tr{
  height: 3rem;
  border-bottom: 1px solid var(--color-light);
}

.right-content > div table tbody tr:last-child{
  height: 2rem;
  border: none;
}

.right-content > div table tbody tr td{
  margin-top: 1.5rem;
  color: var(--color-dark-variant);
}

.right-content > div table tbody tr:first-child td{
  margin-top: 0.5rem;
}

.right-content > div table tbody .client, .id, .date{
  cursor: pointer;
}

/* PDF Viewer */

.right-content > div object{
  width: 100%;
  height: 84vh;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.right-content > div object:hover{
  box-shadow: none;
}

/* anilox list title */

.right-content .title span{
  padding-left: 0.5rem;
  cursor: pointer;
}

/* anilox report search */

.modal .modal-body #search-report-id{
  color: var(--color-dark);
  font-weight: 400;
  font-size: 20px;
  padding: 0.5rem;
  border: thin solid var(--color-primary);
  font-family: inherit;
}

.modal .modal-body #search-report{
  background: var(--color-primary);
  color: var(--color-white);
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  height: 3rem;
  width: auto;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
}