/* Index Content */

.index-content{
  display: flex;
  width: 100%;
}

/* Arrow Container */

.index-content .arrow-container{
  width: 3rem;
  display: flex;
  height: 3rem;
  margin: 1rem;
  margin-top: 43vh;
  justify-content: center;
  align-items: center;
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.index-content .arrow-container:hover{
  box-shadow: none;
}

/* Arrow */

.index-content .arrow-container #arrow-left, #arrow-right{
  cursor: pointer;
}

/* Index Center */

.index-content #index-center{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Center Container */

.index-content #index-center .center-container{
  height: 50%;
  display: flex;
}

/* Table Container */

.index-content #index-center .center-container .table-container{
  width: 50%;
  text-align: center;
  padding: 0 0.5rem 1rem 0.5rem;
  display: none;
  flex-direction: column;
  align-items: center;
}

.index-content #index-center .center-container .table-container h3{
  font-size: 20px;
  font-weight: 500;
}

.index-content #index-center .center-container .table-container .title{
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  width: max-content;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}

.index-content #index-center .center-container .table-container .title:hover{
  box-shadow: none;
}

.index-content #index-center .center-container .table-container a{
  font-size: 16px;
  font-weight: 400;
  color: var(--color-dark);
}

.index-content #index-center .center-container .table-container .table{
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  font-size: 16px;
  font-weight: 400;
  padding: 0.5rem 2rem 0 2rem;
  margin-bottom: 1rem;
  width: 100%;
}

.index-content #index-center .center-container .table-container .table:hover{
  box-shadow: none;
}

/* Table */

table{
  width: 100%;
}

table thead tr th{
  height: 3rem;
  border-bottom: 1px solid var(--color-light);
}

table tbody tr td{
  width: 27.5%;
  height: 7vh;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}

table tbody tr .next{
  width: 45%;
}

table tbody tr:last-child td{
  border: none;
}

table tbody tr td .barra-estado{
  width: 100%;
  border: 1px solid var(--color-dark-variant);
}

table tbody tr td .barra-estado #barra{
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: var(--color-dark);
}