/* Lista */

.right-content .table-container{
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding-bottom: 1rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.right-content .table-container:hover{
  box-shadow: none;
}

table{
  width: 100%;
  text-align: center;
  padding-top: 0.5rem;
  font-size: 16px;
  font-weight: 400;
}

table thead, th, tbody, tr, td{
  display: block;
}

table tbody{
  height: 73vh;
  overflow-y: auto;
}

table tbody td, thead th{
  width: 9.9%;
  float: left;
}

table .pdf{
  padding-left: 0.5rem;
  width: 3%;
}

table .send{
  padding-left: 0.5rem;
  width: 3%;
}

table .trash{
  padding-left: 1.5rem;
  width: max-content;
  color: red;
}

thead tr{
  height: 4.5rem;
  border-bottom: 1px solid var(--color-light);
}

table thead th{
  padding-top: 1rem;
}

table tbody tr{
  height: 3rem;
  margin-top: 1.5rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}

table tbody tr:last-child{
  height: 2rem;
  border: none;
}

table tbody .code, .master, .quote, .delete{
  cursor: pointer;
}

table tbody td .barra-estado{
  width: 100%;
  margin-top: -0.5rem;
  border: 1px solid var(--color-dark-variant);
}

table tbody td #barra{
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: var(--color-dark);
}

/* Client Selector */

.right-content .selector-container{
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: 1rem 0;
  margin-bottom: 1rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-content .selector-container:hover{
  box-shadow: none;
}

.right-content .selector-container h3{
  font-size: 16px;
  font-weight: 500;
  color: var(--color-dark);
  padding-right: 1rem;
}

select{
  font-family: 'Rajdhani', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-dark);
}

/* Modal PDF */

#modal-pdf{
  display: none;
  padding-top: 1rem;
}

#modal-pdf .modal-content{
  width: 94%;
}

#modal-pdf .modal-header{
  height: 2.5rem;
}

#modal-pdf .modal-body{
  height: 92vh;
}

#modal-pdf #master-pdf{
  height: 100%;
  width: 100%;
}

/* Modal Quote */

.modal .modal-content .modal-body .quote-data span{
  display: flex;
}

.modal .modal-content .modal-body .quote-data span p{
  margin: 0;
  padding-bottom: 1rem;
  font-weight: auto;
}

.modal .modal-content .modal-body .quote-data h3{
  padding-bottom: 1rem;
  padding-right: 0.5rem;
}

.modal .modal-content .quote-confirm, .delete-confirm{
  margin: auto;
}

.modal .modal-content .accept-btn{
  display: flex;
  background: var(--color-primary);
  color: var(--color-white);
  align-items: center;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  height: 3rem;
  width: auto;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
}

/* Modal Delete */

.modal .modal-content .modal-body .modal-body-question{
  display: flex;
}

.modal .modal-content .modal-body .modal-body-question h3{
  padding-bottom: 1rem;
}